section.q-about
    .q-inner
        span.q-section-title Привет, друзья! Добро пожаловать на мой сайт!
        .q-about-content
            img(src="img/about_page/author_photo.jpg", alt="Lyutikova Julia Photographer").q-about-content__img
            .q-about-content__info-box
                p Меня зовут Юля. Я семейный и свадебный фотограф. Я рассказываю о счастливых моментах жизни людей через свои фотографии.
                p Фотография - это моя страсть, любовь и вдохновение
                p Работаю в следующих направлениях:
                ul.q-about-content__info-box--list
                    li - Индивидуальная съемка
                    li - Фотосъемка Love Story
                    li - Свадебная фотосъемка
                    li - Фотосъемка беременных
                    li - Детская и семейная фотосъемка
                p Я ценю доброту, простоту в общении, настоящие и искренние эмоции!
                p В моей работе для меня очень важно ваше доверие на съемке и готовность прислушиваться к моим советам и рекомендациям! Это очень вдохновляет меня на постоянный рост и саморазвитие.
                p Самое главное, что я могу для вас сделать-это сохранить все основные моменты вашей жизни на фото. Как получить красивые кадры? Просто будьте искренними, будьте собой!)
                p Если вы любите душевные снимки про счастливых людей – пишите мне, создадим неповторимую историю ваших эмоций вместе!
                p Если вас заинтересовали мои работы, свяжитесь с мной любым удобным для вас способом:

                p 
                    a(href="tel: 380951131758") Viber +380951131758
                p
                    a(href="https://www.instagram.com/julia_photki/") Instagram: https://www.instagram.com/julia_photki/