header.q-header
    .q-inner
        a(href="#").q-header__logo 
            span.q-header__logo--title Lyutikova Julia
            span.q-header__logo--subtitle Photographer

        nav.q-header__menu
            a.q-header__menu--link(href="#") Главная
            a.q-header__menu--link(href="#") Портфолио
            a.q-header__menu--link(href="price-page.html") Цены
            a.q-header__menu--link(href="about-me.html") Обо мне
            a.q-header__menu--link(href="#") Контакты

