section.q-price
    .q-inner
        .q-section-title Стоимость пакетов
        .q-price-services
            .q-price-services__item
                img(src="img/price_page/price_img.png", alt="weeding_photo").q-price-services__item--img
                .q-price-services__item--text
                    span Пакет «Загс-прогулка» 4000 грн
                    ul.q-price-services__item--list
                        li Предварительная встреча, индивидуальный подбор мест съемки и различных деталей;
                        li 3-4 часа съемки
                        li Около 400 фото (все фото в хорошем качестве)
                        li Ретушь крупных портретов и авторская обработка 70 -100 фото
                        li Все фото через файлообменник
                        li Время выполнения заказа от 1 до 3 месяца
                        li Предоплата 500 грн

            .q-price-services__item
                img(src="img/price_page/price_img.png", alt="weeding_photo").q-price-services__item--img
                .q-price-services__item--text
                    span Пакет «Сборы-первый танец» 6000грн
                    ul.q-price-services__item--list
                        li Предварительная встреча, индивидуальный подбор мест съемки и различных деталей;
                        li 7-8 часов съемки
                        li Около 600 фото (все фото в хорошем качестве)
                        li Ретушь крупных портретов и авторская обработка около 100-150 фото
                        li Фото на подарочной флешке
                        li Время выполнения заказа от 1 до 3 месяца
                        li Предоплата 1000 грн
                        
            .q-price-services__item
                img(src="img/price_page/price_img.png", alt="weeding_photo").q-price-services__item--img
                .q-price-services__item--text
                    span Пакет «Сборы-окончание банкета» 8000грн.
                    ul.q-price-services__item--list
                        li Съемка до 22.00
                        li Около 1000 фотографий в хорошем качестве
                        li Авторская обработка и ретушь крупных портретов 150-300 фото
                        li Все фото на подарочной флешке
                        li Время выполнения заказа от 1 до 3 месяца
                        li Предоплата 1000 грн 

        .q-price-services.q-other
            .q-price-services__item
                img(src="img/price_page/price_img.png", alt="weeding_photo").q-price-services__item--img
                .q-price-services__item--text
                    span Пакеты «Lоve Story», Семейная, В ожидании чуда, Индивидуальная, Крещение - 1200грн
                    ul.q-price-services__item--list
                        li Предварительная консультация(подбор места, образа, индивидуальный подход к каждому)
                        li Фотосессия продолжительностью 1 час 
                        li Помощь в процессе фотосъемки
                        li Авторская обработка с детальной ретушью кожи 30-70 фото
                        li Весь отснятый материал в хорошем качестве
                        li Все фото через файлообменник
                        li Время выполнения заказа 2-4 недели
            
            .q-price-services__item
                .q-price-services__item--text
                    span Пакет «РЕПОРТАЖ» (дни рождения, девичники, выпускные) 1000грн/час (минимум 2 часа) 
                    ul.q-price-services__item--list
                        li Помощь в процессе фотосъемки
                        li Цветокоррекция, ретушь крупных портретов 30-70 фото/час
                        li Весь отснятый материал в хорошем качестве
                        li Время выполнения заказа 2-4 недели
                img(src="img/price_page/price_img.png", alt="weeding_photo").q-price-services__item--img
            
            .q-price-services__item
                .q-price-services__item--text.q-price-services__add
                    span ДОПОЛНИТЕЛЬНО:
                    ul.q-price-services__item--list
                        li Свыше 12 часов время оплачивается дополнительно. 800 грн/час
                        li Время съемки начинается с первого щелчка фотоаппарата. Потраченное время на дорогу, переезд входит в рамки выбранного пакета.
                        li Фотостудия, услуги парикмахера, визажиста оплачиваются отдельно
                    p Я буду рада, если вы отнесётесь с пониманием и не будете против размещения самых лучших фотографий в моём портфолио на моё собственное усмотрение. Цена съёмки на условиях полной конфиденциальности оговаривается заранее и составляет +40% от стоимости заказа! Фотограф имеет право разместить до 3 фотографий с ограниченым обзором лица в своём портфолио! О своём решении и условиях я прошу сообщать до начала съёмки!!!!Соглашаясь на съёмку без оговаривания конфиденциальности ДО НАЧАЛА СЪЁМКИ, Вы соглашаетесь на использование Ваших фото в моём портфолио.