<!DOCTYPE html>

html(lang="ru")
  include components/head.pug
  include sections/header.pug

  // WRITE CODE HERE ===>


  // START SECTION HEADER ===>

  body

    main
        include sections/about-me.pug
    include sections/footer.pug
    include components/scripts.pug
    
    



  // END CODE HERE <===

  